@use "./style/button.scss";

*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,
body,
#root{
    width: 100;
    background-color: #1e1d1d;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.highlight{
    color:#d20d3b ;
}